body {
  color: #efdab9 !important;
  background-color: #343233 !important;
  font-family: 'Quicksand', sans-serif !important;
}

::placeholder {
  color: #efdab9 !important;
  opacity: 0.7 !important;
}
