<div class="lyrics" style="background-color: #343233; border-radius: 5px">
    <img src="../../assets/images/creeperawman.png" style="width: 98%">
    <div data-spy="scroll" data-offset="0"></div>

    <br>

    <p> So we back in the mine </p>
    <p> Got our pickaxe swinging from </p>
    <p> side to side </p>
    <p> Side-side to side </p>
    <p> This task, a grueling one </p>
    <p> Hope to find some diamonds tonight, night, night </p>
    <p> Diamonds tonight </p>
    <p>----------------------------------------------</p>
    <p> Heads up </p>
    <p> You hear a sound, turn around and look up </p>
    <p> Total shock fills your body </p>
    <p> Oh no, it's you again </p>
    <p> I can never forget those </p>
    <p> eyes, eyes, eyes, eyes-eyes-eyes </p>
    <p>----------------------------------------------</p>
    <p> CAUSE BABY TONIGHT </p>
    <p> The creeper's trying to steal all our stuff again </p>
    <p> Cause, baby, tonight </p>
    <p> Grab your pick, shovel, and bolt again </p>
    <p> Bolt again-gain </p>
    <p> And run, run until it's done, done </p>
    <p> Until the sun comes up in the morn </p>
    <p> Cause, baby, tonight </p>
    <p> The creeper's trying to steal all our stuff again </p>
    <p> Stuff again-gain </p>
    <p>----------------------------------------------</p>
    <p> Just when you think you're safe </p>
    <p> Overhear some hissing from </p>
    <p> right behind </p>
    <p> Right-right behind </p>
    <p> That's a nice life you have </p>
    <p> Shame it's gotta end at this </p>
    <p> time, time, time </p>
    <p> Time-time-time-time </p>
    <p>----------------------------------------------</p>
    <p> Blows up </p>
    <p> Then your health bar drops and you could use a one-up </p>
    <p> Get inside, don't be tardy </p>
    <p> So now you're stuck in there </p>
    <p> Half a heart is left, but don't </p>
    <p> die, die, die </p>
    <p> Die-die-die </p>
    <p>----------------------------------------------</p>
    <p> CAUSE BABY TONIGHT </p>
    <p> The creeper's trying to steal all our stuff again</p>
    <p> Cause, baby, tonight </p>
    <p> Grab your pick, shovel, and bolt again </p>
    <p> Bolt again-gain</p>
    <p> And run, run until it's done, done </p>
    <p> Until the sun comes up in the morn</p>
    <p> Cause, baby, tonight </p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
