<div class="lyrics" style="background-color: #343233; border-radius: 5px">
    <img src="../../assets/images/creeperawman.png" style="width: 98%">
    <div data-spy="scroll" data-offset="0"></div>

    <br>

    <p> So we back in the mine </p>
    <p> Got our pickaxe swinging from </p>
    <p> side to side </p>
    <p> Side-side to side </p>
    <p> This task, a grueling one </p>
    <p> Hope to find some diamonds tonight, night, night </p>
    <p> Diamonds tonight </p>
    <p>----------------------------------------------</p>
    <p> Heads up </p>
    <p> You hear a sound, turn around and look up </p>
    <p> Total shock fills your body </p>
    <p> Oh no, it's you again </p>
    <p> I can never forget those </p>
    <p> eyes, eyes, eyes, eyes-eyes-eyes </p>
    <p>----------------------------------------------</p>
    <p> Cause baby tonight </p>
    <p> The creeper's trying to steal all our stuff again </p>
    <p> Cause, baby, tonight </p>
    <p> Grab your pick, shovel, and bolt again </p>
    <p> Bolt again-gain </p>
    <p> And run, run until it's done, done </p>
    <p> Until the sun comes up in the morn </p>
    <p> Cause, baby, tonight </p>
    <p> The creeper's trying to steal all our stuff again </p>
    <p> Stuff again-gain </p>
    <p>----------------------------------------------</p>
    <p> Just when you think you're safe </p>
    <p> Overhear some hissing from </p>
    <p> right behind </p>
    <p> Right-right behind </p>
    <p> That's a nice life you have </p>
    <p> Shame it's gotta end at this </p>
    <p> time, time, time </p>
    <p> Time-time-time-time </p>
    <p>----------------------------------------------</p>
    <p> Blows up </p>
    <p> Then your health bar drops and you could use a one-up </p>
    <p> Get inside, don't be tardy </p>
    <p> So now you're stuck in there </p>
    <p> Half a heart is left, but don't </p>
    <p> die, die, die </p>
    <p> Die-die-die </p>
    <p>----------------------------------------------</p>
    <p> Cause baby tonight </p>
    <p> The creeper's trying to steal all our stuff again</p>
    <p> Cause, baby, tonight </p>
    <p> Grab your pick, shovel, and bolt again </p>
    <p> Bolt again-gain</p>
    <p> And run, run until it's done, done </p>
    <p> Until the sun comes up in the morn</p>
    <p> Cause, baby, tonight </p>
    <p> The creeper's trying to steal all our stuff again (Creepers) </p>
    <p> you're mine, haha</p>
    <p>----------------------------------------------</p>
    <p>Dig up diamonds</p>
    <p>And craft those diamonds</p>
    <p>And make some armor</p>
    <p>Get it, baby, go and forge that like you so MLG pro</p>
    <p>The sword's made of diamonds, so come at me bro Huh</p>
    <p>Training in your room under the torchlight</p>
    <p>Hone that form to get you ready for the big fight</p>
    <p>Every single day and the whole night</p>
    <p>Creeper's out prowlin, woo, alright</p>
    <p>Look at me, look at you</p>
    <p>Take my revenge, that's what I'm gonna do</p>
    <p>I'm a warrior, baby, what else is new</p>
    <p>And my blade's gonna tear through you (Cause baby tonight) bring it</p>
    <p>----------------------------------------------</p>
    <p>The creeper's trying to steal all our stuff again (Gather your stuff, yeah)</p>
    <p>Let's take back the world (yeah baby tonight) haha</p>
    <p>Grab your sword, armor and go (It's on)</p>
    <p>Take your revenge (Woo)</p>
    <p>oh-oh-oh-oh So fight, fight, like it's the last</p>
    <p>last night of your life, life</p>
    <p>Show them your bite (Woo)</p>
    <p>----------------------------------------------</p>
    <p>Cause, baby, tonight (ah ah)</p>
    <p>(ah ah) The creeper's trying to steal all our stuff again</p>
    <p>Cause, baby, tonight</p>
    <p>Grab your pick, shovel and bolt again (Bolt again-gain, woo)</p>
    <p>And run run until it's done, done</p>
    <p>Until the sun comes up in the morn</p>
    <p>Cause baby, tonight</p>
    <p>(Come on, swing your sword up high) The creeper's trying to steal all our stuff again (Come on, jab your sword down low)</p>
    <p>Woo</p>

</div>
